/src/java/j2me/cdc/build/
/src/java/j2me/cdc/dist/
/src/java/j2me/cldc/1.0/dist/
/src/java/j2me/cldc/1.0/build/
/src/java/j2me/cldc/1.1/build/
/src/java/j2me/cldc/1.1/dist/
/src/java/j2me/cldc/1.1ext/build/
/src/java/j2me/cldc/1.1ext/dist/
/src/java/java2/build/
/src/java/java2/dist/
/src/java/java5/dist/
/src/java/java5/build/